@import url(/Style/section1.css);
@import url(/Style/aboutUs.css);
@import url(/Style/projetos.css);
@font-face {
    font-family: Horizon;
    src: url(../Fonts/horizon.otf) format('opentype'), url(../Fonts/horizon_outlined.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: CODMW;
    src: url(../Assets/Fonts/fontTeste/ModernWarfare-8MM6z.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --fonte-principal: 'Horizon';
    --buceta-cabeluda: 'CODMW';
    --cor-da-fonte: #EEEEEE;
    --cor-principal: #cd1818;
}